<div class="header-container" [ngStyle]="{ 'background-color': data.thumbnailColor }">
  <div class="header">
    <div class="back" [routerLink]="'/dashboard'"><mat-icon>navigate_before</mat-icon>Back to Dashboard</div>
    <div class="text">
      <div class="hint">{{ 'Chapter ' + data.id | uppercase }}</div>
      <div class="name">{{ data.title }}</div>
    </div>
  </div>
</div>

<div class="description">
  <span class="introduction">Introduction</span>
  <span [innerHTML]="data.description" class="desc"></span>
</div>
<div class="map">
  <div class="map-header">
    Test
  </div>
  <div class="map-grid">
    <div class="map-item">Item 1</div>
    <div class="map-item">Item 2</div>
    <div class="map-item">Item 3</div>
    <div class="map-item">Item 4</div>
  </div>
</div>
<button mat-stroked-button [routerLink]="'/emulator/turing-machine'">
  Turing Machine Emulator
</button>
