@import "src/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  width: 100%;
  background-color: yellowgreen;
}

.header {
  position: relative;
  max-width: $max-width;
  margin: auto;
  height: 260px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    display: flex;
    flex-direction: column;

    .hint {
      color: $light-snowy;
      font-size: 16px;
    }

    .name {
      color: white;
      font-size: 30px;
      line-height: 2;
      text-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    }
  }

  .back {
    position: absolute;
    top: 40px;
    left: 32px;
    display: flex;
    align-items: center;
    color: $gray;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s all;

    &:hover {
      color: $light-snowy;
    }
  }
}

.description {
  max-width: $max-width;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 24px;
  box-sizing: border-box;

  .introduction {
    font-size: 18px;
    font-weight: 500;
  }

  .desc {
    display: flex;
    flex-direction: column;
    color: $semi-medium-black;
  }
}

.map {
  max-width: $max-width;
  width: calc(100% - 80px);
  margin: 40px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid $gray;

  .map-header {
    height: 64px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
  }

  .map-grid {
    display: grid;
    grid-template-columns: auto auto auto;

    .map-item {
      min-width: 360px;
      padding: 16px;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 1024px) {
  .map-grid {
    grid-template-columns: auto auto !important;
  }
}
