<div class="header-container" [ngStyle]="{ 'background-color': data.thumbnailColor }">
  <div class="header">
    <div class="back" [routerLink]="'/dashboard'"><mat-icon>navigate_before</mat-icon>Back to Dashboard</div>
    <div class="text">
      <div class="hint">{{ 'Chapter ' + data.id | uppercase }}</div>
      <div class="name">{{ data.title }}</div>
    </div>
  </div>
</div>

<div class="description">
  <span class="introduction">Introduction</span>
  <span [innerHTML]="data.description" class="desc"></span>
</div>
<div class="map" *ngIf="!data.disabled">
  <div class="map-header">
    Turing machine
  </div>
  <div class="map-list">
    <a *ngFor="let page of data.pages; index as i" class="map-item" [href]="'/chapter/'+data.id+'/page/'+i">
      {{ page.title }}
    </a>
  </div>
</div>
<button *ngIf="!data.disabled" mat-stroked-button [routerLink]="'/emulator/turing-machine'">
  Turing Machine Emulator
</button>
