$max-width: 1550px;
$light-snowy: #fafafa;
$snowy: #f1f1f1;
$light-gray: #efefef;
$lavender: #e9e9e9;
$gray: #ebebeb;
$semi-dark-black: rgba(black, 0.87);
$semi-medium-black: rgba(black, 0.6);
$semi-black: rgba(black, 0.33);
$semi-light-black: rgba(black, 0.28);
