<div class="label">
  <span>CHAPTER 5</span>
  <span>Turing machine emulator</span>
</div>
<div class="content">
  <div class="controls">
    <button mat-stroked-button class="start" color="accent"><mat-icon>play_arrow</mat-icon></button>
    <button mat-stroked-button class="pause" color="accent"><mat-icon>pause</mat-icon></button>
    <button mat-stroked-button class="stop" color="accent"><mat-icon>stop</mat-icon></button>
  </div>
  <div class="data-tape">
    <div class="cell"><mat-icon>navigate_before</mat-icon></div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell focus">0</div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell">0</div>
    <div class="cell"><mat-icon>navigate_next</mat-icon></div>
  </div>
  <div class="pointer">
    <mat-icon>north</mat-icon>
  </div>
</div>
