@import "src/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host::ng-deep button mat-icon {
  margin: 0 !important;
}

.controls {
  display: flex;
  gap: 16px;

  .start {
    color: green;
  }

  .stop {
    color: red;
  }
}

.content {
  flex: 1;
  width: 100%;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 36px;
  box-sizing: border-box;
}

.data-tape {
  display: flex;
  position: relative;
  margin-bottom: 40px;

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 1px solid $semi-dark-black;
    cursor: pointer;

    &:hover {
      background: $selected;
    }

    &.focus {
      padding: 16px 20px;
      border: 2px solid red;
    }

    &.left {
      border-radius: 4px 0 0 4px;
    }

    &.right {
      border-radius: 0 4px 4px 0;
    }
  }

  .pointer {
    position: absolute;
    width: 24px;
    bottom: -36px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.alphabet {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 12px;

  .edit-btn {
    color: $semi-medium-black;

    &:hover {
      color: $semi-dark-black;
    }
  }
}
