@import "src/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host::ng-deep button mat-icon {
  margin: 0 !important;
}

.disabled {
  opacity: .5;
  pointer-events: none;

  &.soft {
    opacity: .7;
  }
}

.margin-left {
  margin: 0 12px;
}

.controls {
  display: flex;
  gap: 16px;

  .start {
    color: green;
  }

  .stop {
    color: red;
  }
}

.content {
  flex: 1;
  width: 100%;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 36px;
  box-sizing: border-box;
}

.alphabet {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 12px;

  .edit-btn {
    color: $semi-medium-black;

    &:hover {
      color: $semi-dark-black;
    }
  }
}

.tm-command {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  &.target {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.9);
    background: rgba(255, 0, 0, .75);
    border-radius: 1px;
    color: white;
  }
}

.console {
  width: 100%;
  margin-top: 30px;

  textarea {
    min-height: 200px;
  }
}
