@import "src/styles/variables";

.data-tape {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  position: relative;

  .shift {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $semi-dark-black;
    cursor: pointer;
    width: 42px;
    height: 58px;
    user-select: none;

    &:hover {
      background: $selected;
    }

    &.focus {
      padding: 16px 20px;
      border: 2px solid red;
    }

    &.left {
      border-radius: 4px 0 0 4px;
      border-left: 2px solid $semi-dark-black;
    }

    &.right {
      border-radius: 0 4px 4px 0;
      border-right: 2px solid $semi-dark-black;
    }
  }
}
