<div class="label">
  <span>CHAPTER 5</span>
  <span>Turing machine emulator</span>
</div>
<div class="content">
  <div class="controls" [ngClass]="{ disabled: tmStatesService.alphabet.length < 1 }">
    <button mat-stroked-button class="start" color="accent" [ngClass]="{ disabled: tmStatesService.programState === tmStatesEnum.running }" (click)="onStart()"><mat-icon>play_arrow</mat-icon><span class="margin-left">Run</span></button>
    <button mat-stroked-button class="stop" color="accent" [ngClass]="{ disabled: tmStatesService.programState === tmStatesEnum.idle }" (click)="onStop()"><mat-icon>stop</mat-icon><span class="margin-left">Stop</span></button>
    <button mat-stroked-button class="pause" color="accent" [ngClass]="{ disabled: tmStatesService.programState !== tmStatesEnum.running }" (click)="onPause()"><mat-icon>pause</mat-icon><span class="margin-left">Pause</span></button>
    <button mat-stroked-button class="step" color="accent" [ngClass]="{ disabled: tmStatesService.programState !== tmStatesEnum.paused }" (click)="onStep()"><mat-icon>redo</mat-icon><span class="margin-left">Step</span></button>
  </div>
  <div class="data-tape soft">
    <div class="shift left text-h6" (click)="dataTapeMoveLeft = timestamp"><</div>
    <dm-turing-machine-data-tape [onMoveLeft]="dataTapeMoveLeft" [onMoveRight]="dataTapeMoveRight"></dm-turing-machine-data-tape>
    <div class="shift right text-h6" (click)="dataTapeMoveRight = timestamp">></div>
  </div>

  <div class="alphabet">
    <ng-template [ngIf]="tmStatesService.alphabet" [ngIfElse]="emptyAlphabet">
      <mat-form-field>
        <mat-label>Alphabet</mat-label>
        <input matInput disabled [value]="tmStatesService.alphabet">
        <mat-icon matSuffix class="edit-btn" [matTooltip]="'Edit Alphabet'" matTooltipPosition="above" (click)="openAlphabetPromptWindow()">edit</mat-icon>
      </mat-form-field>
    </ng-template>
    <ng-template #emptyAlphabet>
      Please set the alphabet:
      <button mat-raised-button color="accent" (click)="openAlphabetPromptWindow()">Set Alphabet</button>
    </ng-template>
  </div>
  <div *ngIf="tmStatesService.alphabet && tmStatesService.isProgramCreate" class="program soft" [ngClass]="{ disabled: tmStatesService.programState !== tmStatesEnum.idle }">
    <mat-table [dataSource]="tmStatesService.dataSource" class="custom-table">
      <!-- Row Header -->
      <ng-container matColumnDef="row-header">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row}} </mat-cell>
      </ng-container>

      <!-- Columns Headers -->
      <ng-container *ngFor="let column of tmStatesService.columns" matColumnDef="{{ 'Q'+column }}">
        <mat-header-cell *matHeaderCellDef> {{ 'Q'+column }} </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div [matMenuTriggerFor]="cellMenu" (click)="onOpenedMenu(+column, row)">
            <ng-template [ngIf]="tmStatesService.program[row][+column] !== null" [ngIfElse]="emptyBtnRef">
              <ng-container *ngTemplateOutlet="tmCommandRef; context: {$implicit: { column, row }}"></ng-container>
            </ng-template>
            <ng-template #emptyBtnRef>
              <button mat-icon-button>...</button>
            </ng-template>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tmStatesService.displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tmStatesService.displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

<ng-template #tmCommandRef let-commandPath>
  <div *ngIf="tmStatesService.program[commandPath.row][commandPath.column]; let command" class="tm-command">
    {{ command.write || '' }}
    {{ command.direction === 'left' ? '⇦' : command.direction === 'right' ? '⇨' : '⇩' }}
    {{ command.nextCommand !== undefined ? ('Q' + command.nextCommand) : '' }}
  </div>
</ng-template>

<mat-menu #cellMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="writeMenu">Write</button>
  <button mat-menu-item [matMenuTriggerFor]="moveMenu">Move</button>
  <button mat-menu-item [matMenuTriggerFor]="commandMenu">Command</button>
  <button mat-menu-item> Close</button>
</mat-menu>

<mat-menu #writeMenu="matMenu">
  <button mat-menu-item *ngFor="let header of tmStatesService.rowHeaders" (click)="onMenuClick($event,'write', header)">{{ header }}</button>
</mat-menu>

<mat-menu #moveMenu="matMenu">
  <button mat-menu-item (click)="onMenuClick($event,'move', 'left')">left</button>
  <button mat-menu-item (click)="onMenuClick($event,'move', 'stay')">stay</button>
  <button mat-menu-item (click)="onMenuClick($event,'move', 'right')">right</button>
</mat-menu>

<mat-menu #commandMenu="matMenu">
  <button mat-menu-item *ngFor="let header of tmStatesService.columns" (click)="onMenuClick($event,'command', header)">{{ 'Q'+header }}</button>
</mat-menu>
