@import "styles/material-theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-button--outlined.white-stroke-btn:not(:disabled) {
  border-color: white;
  color: white;
}
