@import "styles/material-theme";
@import "styles/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-button--outlined.white-stroke-btn:not(:disabled) {
  border-color: white;
  color: white;
}

.mdc-text-field {
  padding: 0 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.mat-mdc-form-field-focus-overlay {
  background-color: white;
}

.label {
  width: 100%;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  padding: 36px;
  box-sizing: border-box;

  :first-child {
    color: $semi-black;
    font-size: 16px;
  }

  :last-child {
    color: $semi-medium-black;
    margin-top: 8px;
    font-size: 30px;
  }
}
