@import "src/styles/variables";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  flex: 1;
  width: 100%;
  max-width: $max-width;
  display: flex;
  gap: 20px;
  padding: 36px;
  box-sizing: border-box;

  .card {
    position: relative;
    height: 280px;
    width: 280px;
    display: flex;
    flex-direction: column;
    transition: 0.3s all;
    border-radius: 16px;
    box-shadow: inset 0 4px 7px 1px rgba(0, 0, 0, 0.3), inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
    overflow: hidden;

    .body {
      position: relative;
      flex: 1;
      padding: 16px;
      //background-color: yellowgreen;

      .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        height: 400px;
        width: 400px;
        opacity: .9;
        z-index: -1;
      }
    }

    .header {
      padding: 12px;
      height: 48px;

    }

    .play-btn {
      position: absolute;
      right: 16px;
      bottom: 30px;
      height: 80px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      box-sizing: border-box;
      border-radius: 50%;
      border: 5px lightgray solid;
      transition: 0.3s all;
      cursor: pointer;

      svg-icon {
        height: 36px;
        width: 36px;
        svg {
          height: 36px;
          width: 36px;
          fill: $semi-dark-black;
          transition: 0.3s all;
        }
      }

      &:hover {
        svg-icon svg {
          fill: #1e9f30;
        }
        box-shadow: 0 5px 10px rgba(29, 160, 156, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
      }
    }

    .title {
      display: inline-flex;
      text-shadow: 0 0 20px $semi-dark-black;
      line-height: 1.2;
      margin-top: 7px;
      font-size: 30px;
      font-weight: 600;
      color: white;
    }

    &:hover {
      box-shadow: inset 0 4px 7px 1px rgba(0, 0, 0, 0.3), inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 0 20px rgba(0, 21, 64, 0.14), 0 0 40px rgba(0, 0, 0, 0.2);
    }
  }
}
