<div class="label">
  <span>Welcome to</span>
  <span>Discrete Math Dashboard</span>
</div>
<div class="cards">
  <div *ngFor="let chapter of chapters" class="card">
    <div class="body">
      <img *ngIf="chapter.thumbnail" class="thumbnail" src="assets/svg/thumbnails/{{chapter.thumbnail}}" >
      <div class="title">{{ chapter.title }}</div>
    </div>
    <div class="header"></div>
    <div class="play-btn" [routerLink]="'/chapter/' + chapter.id + '/overview'">
      <svg-icon src="/assets/svg/play-arrow.svg"></svg-icon>
    </div>
  </div>
</div>
