@import "src/styles/variables";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {

}

@media screen and (max-width: 1024px) {
  .map-grid {
    grid-template-columns: auto auto !important;
  }
}
